<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Word Count</th>
      <th scope="col">Snippet</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let page of pages" scope="row">
      <td>
        <a
          target="_blank"
          [href]="'https://en.wikipedia.org?curid=' + page.pageid"
        >
          {{ page.title }}
        </a>
      </td>
      <td>{{ page.wordcount }}</td>
      <td [innerHTML]="page.snippet"></td>
    </tr>
  </tbody>
</table>
