<div class="resume">
  <div class="personalInfo">
    <h1>{{bankerName}}</h1>
    <address>
      {{bankerAddress}}<br>
      {{bankerCity}}, {{bankerState}} {{bankerZip}}<br>
      {{bankerPhone}}<br>
      {{bankerEmail}}
    </address>
  </div>
  
  <div class="summary">
    <h2>Summary</h2>
    <p>{{summary}}
    </p>
  </div>
  
  <div class="education">
    <h2>Education</h2>
    <p>{{school}}<span class="educationDates">{{schoolDates}}</span><br>
      {{schoolDegree}}
    </p>
  </div>
  
  <div class="experience">
    <h2>Experience</h2>
    <p>{{employerName}}, {{jobTitle}}<span class="employmentDates">{{employmentDates}}</span></p>
     <ul>
       <li>Achieved 100% of sales goals each month, consistently ranking among top 10 performers within district</li>
       <li>Recommend appropriate account services to customers based on financial situation and communicate benefits to achieve 15-20 new accounts per month</li>
       <li>Assist bank customers with opening and closing accounts, including issuing debit cards and personal checks</li>
       <li>Resolved claims of fraudulent purchases on customer accounts and advised customers on increased security practices</li>
     </ul>
  </div>
</div>
