<h1>Simple Calculator</h1>

<div class="container">
        <div class="header">Calculator</div>
        <br>
        <span type="text" class="result">{{result}}</span>
        <table>
          <tr>
            <td><input type="button" value="7" class="global" (click)="on7Click()"></td>
            <td><input type="button" value="8" class="global" (click)="on8Click()"></td>
            <td><input type="button" value="9" class="global" (click)="on9Click()"></td>
            <td><input type="button" value="-" class="global" (click)="onMinusClick()"></td>
          </tr>
          <tr>
            <td><input type="button" value="4" class="global" (click)="on4Click()"></td>
            <td><input type="button" value="5" class="global" (click)="on5Click()"></td>
            <td><input type="button" value="6" class="global" (click)="on6Click()"></td>
            <td><input type="button" value="+" class="global" (click)="onPlusClick()"></td>
          </tr>
          <tr>
            <td><input type="button" value="1" class="global" (click)="on1Click()"></td>
            <td><input type="button" value="2" class="global" (click)="on2Click()"></td>
            <td><input type="button" value="3" class="global" (click)="on3Click()"></td>
            <td><input type="button" value="X" class="global" (click)="onMultiplyClick()"></td>
          </tr>
          <tr>
            <td><input type="button" value="C" class="global" (click)="onResetClick()"></td>
            <td><input type="button" value="0" class="global" (click)="on0Click()"></td>
            <td><input type="button" value="=" class="global" (click)="onEqualsClick()"></td>
            <td><input type="button" value="/" class="global" (click)="onDivideClick()"></td>
          </tr>
        </table>
      </div>
