<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Course Manager</title>
  </head>
  <body>
    <!-- Main Body of Page -->
    <div class="container">
        <div class="row m-4">
            <div class="col text-center border border-dark">
                <h1><a href="/" class="text-dark">Course Manager</a></h1>
            </div>
        </div>
        <div class="row m-4 border border-dark">
            <div class="col text-center m-3">
                <a href="teachers" class="btn btn-outline-primary btn-lg">Teachers</a>
            </div>
            <div class="col text-center m-3">
                <a href="students" class="btn btn-outline-primary btn-lg">Students</a>
            </div>
            <div class="col text-center m-3">
                <a href="courses" class="btn btn-outline-primary btn-lg">Courses</a>
            </div>
        </div>
        
        <div class="row m-4 border border-dark">
            <div class="col-3 text-center m-3">
                <span class="h3">Add Course</span>
            </div>
            <div class="col-7 text-center m-3">
                <form action="addCourse" method="POST">
                    <div class="form-group row">
                        <label for="name" class="col-3 col-form-label">
                            Name</label>
                        <div class="col-9">
                            <input type="text" name="name" 
                                   id="name" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="description" class="col-3 col-form-label">
                            Description</label>
                        <div class="col-9">
                            <input type="text" name="description" 
                                   id="description" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="teacher" class="col-3 col-form-label">
                            Teacher</label>
                        <div class="col-9">
                            <select id="teacher" name="teacherId" class="form-control" >
                                <option th:each="teacher : ${teachers}" 
                                        th:value="${teacher.id}" 
                                        th:text="${teacher.firstName + ' ' 
                                            + teacher.lastName}">
                                    Teacher Name</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="students" class="col-3 col-form-label">
                            Students</label>
                        <div class="col-9">
                            <select multiple id="students" name="studentId" 
                                    class="form-control" >
                                <option th:each="student : ${students}" 
                                        th:value="${student.id}" 
                                        th:text="${student.firstName + ' ' 
                                            + student.lastName}">
                                    Student Name</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Course</button>
                </form>
            </div>
        </div>
        
        <div class="row m-4 border border-dark">
            <div class="col text-center m-3">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Teacher</th>
                            <th>Details</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="course : ${courses}">
                            <td th:text="${course.id}">Course ID</td>
                            <td th:text='${course.name}'>Course Name</td>
                            <td th:text="${course.teacher.firstName + ' ' 
                                + course.teacher.lastName}">Teacher  Name</td>
                            <td><a href="#" th:href="@{/courseDetail(id=${course.id})}">Details</a></td>
                            <td><a href="#" th:href="@{/editCourse(id=${course.id})}">Edit</a></td>
                            <td><a href="#" th:href="@{/deleteCourse(id=${course.id})}">Delete</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- End main body -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>

