<div class="container h-100 d-flex justify-content-center">
    <div class="my-auto">

      <div id="authentification">
        <h1 class="display-3 text-center">Authentification</h1>
        <div class="text-center">
          <p class="h4"></p>
        </div>
      </div>

      <div id="balance">
        <h1 class="display-3 text-center">Balance</h1>
        <div class="text-center">
          <p class="h4"></p>
        </div>
      </div>

      <div id="account">
        <h1 class="display-3 text-center">Account</h1>
        <div class="text-center">
          <p class="h4"></p>
        </div>
      </div>


    </div>
 </div>



