ol {
    list-style: none;
    counter-reset: steps;
}

ol li {
    counter-increment: steps;
    margin: 0.4em 0;
}

ol li::before {
    content: counter(steps);
    margin-right: 0.5rem;
    background: #225ff0;
    color: white;
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    display: inline-grid;
    place-items: center;
    line-height: 1.2em;
}

.container {
    position:relative;
    margin: 0 auto;
}
